@model PhoneComp.Models.Role


@{
    ViewBag.Title = "新增|编辑用户角色";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Home/Index">Home</a></li>
    <li class="avtive">新增|编辑用户角色</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>新增|编辑用户角色</h2>
    </div>
    <div class="panel-body">
        @if (ViewBag.errorMsg != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Tips!</strong> @ViewBag.errorMsg
            </div>
        }

        <form class="form-horizontal" id="roleform" name="roleform" action="/Role/CreateEdit" method="post" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="RoleName">角色名</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control validate[required,ninSize[2],maxSize[50]]" id="RoleName" name="RoleName" value="@Model.RoleName" placeholder="角色名">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Remark">备注</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="Remark" name="Remark" cols="3" placeholder="备注">@Model.Remark</textarea>
                </div>
            </div>

            <input type="hidden" name="CreateDate" value="@Model.CreateDate" />
            <input type="hidden" name="RoleID" value="@Model.RoleID" />
            <div>
                <div class="center-block col-sm-6" style="float: none;">
                    <input type="submit" class="btn btn-primary" value="新增|编辑" />
                    <a href="/Role/Index" class="btn btn-default">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#roleform").validationEngine({
            scroll: false,
            //binded:false,
            //showArrow:false,
            promptPosition: "centerRight",
            maxErrorsPerField: 1,
            showOneMessage: true,
            addPromptClass: "formError-noArrow formError-text"
        });
    });
</script>