@model PhoneComp.Models.CallRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CallRecord</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suspects.SuspectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suspects.SuspectName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CalledMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CalledMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LordCalled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LordCalled)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CallTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CallTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CallDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CallDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDeleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CallRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
